body{
    background-color: rgba(244, 221, 249, 1);
}
#calculator{
    display: grid;
    grid-template-columns: repeat(4, 64px);
    grid-template-rows: repeat(6, 64px);
    justify-content: center;
    gap: 10px;
    border: solid 3px black;
    float: right;
    margin-right: 40%;
    margin-top: 8%;
    padding: 20px;
    background-color: rgba(119, 123, 120, 1);
}
#displayResult{
    grid-column-start: 1;
    grid-column-end: 5;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: solid 1px black;
    background-color: rgba(125, 150, 131, 1);
}
#display{
    margin: 8px 8px 8px 0px;
    float: right;
}
#pastDisplay{
    margin: 8px 8px 8px 0px;

}
button{
    border-radius: 20%;
    color: black ;
    font-size: large;
}
#clear{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(113, 132, 247, 1);
    border: solid black 2.5px;
    border-radius: 5%;
}
#delete{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgba(241, 103, 103, 1);
    border: solid black 2.5px;
    border-radius: 5%;
}
button:hover{
    border: solid 0.5px black;
}